<header class="navbar navbar-expand-lg navbar-dark sticky-top shadow cs-navbar">
    <nav class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <svg width="32" height="32" role="img">
                <title>Documentation</title>
                <use xlink:href="#book-open" fill="currentColor"/>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#csNavbar" aria-controls="csNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="csNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/docs/' | relative_url }}">Docs</a>
                </li>
            </ul>
        </div>
    </nav>
</header>