<nav class="docs-nav sticky-top" aria-label="Docs navigation">
    <ul class="list-unstyled ps-0">
      {% for group in site.data.navigation %}
        <li class="mb-1">
          <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ group.category }}-collapse" aria-expanded="false">
            {{ group.title }}
          </button>
          <div class="collapse" id="{{ group.category }}-collapse">
              <ul class="list-unstyled fw-normal pb-1 small">
                {% for item in group.pages %}
                  <li><a class="link-dark d-inline-flex text-decoration-none rounded" href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
</nav>
