.docs-layout {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
    }
}

.docs-sidebar {
    grid-area: sidebar;
}

.docs-main {
    grid-area: main;
}

.docs-nav {
    top: 4rem;
}

.docs-nav .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
}
.docs-nav .btn:hover,
.docs-nav .btn:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(121, 82, 179, 0.1);
}
  
.docs-nav .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
  
.docs-nav .btn[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.docs-nav .btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
  
.docs-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.docs-nav a:hover,
.docs-nav a:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(121, 82, 179, 0.1);
}
.docs-nav .active {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);    
}
