.home {
  --bd-accent-rgb: 255,228,132;
  --bd-violet-rgb: 113,44,249;
  --bd-pink-rgb: 214,51,132;
  padding: 2rem 0;
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
  radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
  radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
  radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
  radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
}

.btn-cs-primary {
  --cs-indigo-darken-1: #520dc2;
  --cs-indigo-darken-2: #3d0a91;
  --cs-indigo-rgb: 102,16,242;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-indigo);
  --bs-btn-border-color: var(--bs-indigo);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--cs-indigo-darken-1);
  --bs-btn-hover-border-color: var(--cs-indigo-darken-1);
  --bs-btn-focus-shadow-rgb: var(--cs-indigo-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--cs-indigo-darken-2);
  --bs-btn-active-border-color: var(--cs-indigo-darken-2);
}