<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>&#128214;</text></svg>">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {%- include icons.html -%}
    {%- include header.html -%}
    {{ content }}
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
    {%- if layout.scripts -%}
      {%- for script in layout.scripts -%}
        <script src="{{ site.baseurl }}/assets/js/{{ script }}.js"></script>
      {%- endfor -%}
    {%- endif -%}
  </body>
</html>
