---
layout: default
---
<div class="container">
    <main>
        <h1>{{ page.title }}</h1>
        <div class="row g-5">
            {%- for group in site.data.navigation -%}
                <div class="col-3">
                    <h3>{{ group.title }}</h3>
                    <ul class="list-unstyled">
                        {%- for item in group.pages -%}
                            <li><a class="d-flex align-items-start mb-1" href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endfor -%}
        </div>
    </main>
</div>
