---
layout: default
scripts: 
    - sidebar
---
<div class="container docs-layout">
    <aside class="docs-sidebar">
        {%- include sidebar.html -%}
    </aside>
    <main class="docs-main">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </main>
</div>
