---
layout: default
---
<main>
    <div class="home mb-3 min-vh-100">
        <div class="container">
            <div class="col-md-8 mx-auto text-center">
                {%- if site.title -%}
                    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
                {%- endif -%}

                <div class="row g-3 my-3 border border-2 border-secondary rounded justify-content-evenly">
                    {%- for item in site.data.docs -%}
                        <div class="col-md-4">
                            <svg width="100" height="100" aria-hidden="true">
                                <title>{{ item.title }}</title>
                                <use href="#{{ item.icon }}"{%- if item.icon_color -%}fill="{{ item.icon_color }}"{%- endif -%}>
                            </svg>
                        </div>
                    {%- endfor -%}
                </div>

                <a class="btn btn-cs-primary btn-lg" href="{{ '/docs/' | relative_url }}" role="button">
                    <svg width="1em" height="1em" fill="currentColor" aria-hidden="true">
                        <use href="#book-half">
                    </svg>
                    Read the docs
                </a>
            </div>
        </div>
    </div>
</main>
